
/*Variables e importaciones*/
:root{
    --color-primario: #E5383B;
    --color-secundario: #0B090A;
    --color-terciario: #BA181B;
    --color-cuarto: #151313;
}

/*Reseteo* de estilo*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    color: white;
}

/*Cabecera*/
.cabecera{
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secundario);
    flex-wrap: wrap;

}
.menu_cabecera{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_cabecera{
    width: 100px;
    
}

.menu__opcion{
    color: var(--color-terciario);
    font-size: 1.2rem;
}

.pie{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secundario);
}

.pie_parte{
    width: 25%;
    font-size: 1rem;
    color: var(--color-terciario);
}

.pie_parte a{
    color: var(--color-primario);
}

.cuerpo{
    background-color: var(--color-cuarto);
}