
/*Variables e importaciones*/
:root{
    --color-primario: #E5383B;
    --color-secundario: #0B090A;
    --color-terciario: #BA181B;
    --color-cuarto: #151313;
    --color-quinto: #d3d3d3;
}

/*Reseteo* de estilo*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    color: white;
}
html, body{
    height: 100%;
}

/*Cabecera*/
.cabecera{
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secundario);

}
.menu_cabecera{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__opcion{
    color: var(--color-terciario);
    font-size: 1.2rem;
    width: 25%;
    text-align: center;
}

.enlace_cabecera{
    width: 10%;
}
.logo_cabecera{
    width: 10%;
    min-width: 80px;
}

@media (max-width: 780px) {
    .menu__opcion{
        font-size: 0.8rem;
    }
}
/*Cuerpo*/
.cuerpo{
    background-color: var(--color-cuarto);
    padding: 1rem 2rem;
    min-height: 100%;
}

h1{
    color: var(--color-terciario);
    font-size: xx-large;
    text-decoration: underline;
}

.bienvenida{
    padding: 1rem;
}

h2{
    text-decoration: underline;
}


/*Pie*/
.pie{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secundario);
    flex-wrap: wrap;
}

.pie_parte{
    width: 25%;
    font-size: 1rem;
    color: var(--color-terciario);
}

.pie_parte a{
    color: var(--color-primario);
}

/*Index*/
.principal{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.articulo_principal{
    width: 250px;
    border-style: solid;
    border-color: var(--color-terciario);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.articulo__boton{
    display: flex;
    padding: 0.5rem 1rem;

    justify-content: center;
    border: solid;
    border-radius: 1rem;
    background-color: var(--color-terciario);

    color: black;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.articulo__boton:hover{
    transform: scale(1.1);
    background-color: var(--color-primario);
}

.eventos{
    /*padding: 1rem 5rem;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.eventos_articulos{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.eventos_articulo{
    background-color: var(--color-quinto);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;

    border-radius: 1rem;
}

.eventos__titulo{
    color: black;
}
.eventos__texto {
    color: black;
    padding: 0.5rem 0.5rem;
}

/* Página de Servidores*/
.servidores{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.servidores_div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.seccion_servidores{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--color-secundario);
    gap: 1rem;
    width: 80%;
}

.imagen_servidores{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/*Diccionarios de personajes, grupos y facciones*/
.diccionario{
    padding: 0.5rem;
    gap: 10px;
}

.diccionario h3{
    padding-bottom: 5px;
}

.diccionario a{
    color: var(--color-terciario);
    font-weight: 600;
    transition: transform 0.3s ease, color 0.2s ease;
    display: inline-block;
}

.diccionario a:hover{
    color: var(--color-primario);
    transform: scale(1.5);
}

.diccionario ul{
    list-style: none;
    display: flex;
    gap: 8px;
}

.principal_diccionario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.lista_diccionario{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.lista_diccionario ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0.5rem;
}

.lista_diccionario h4{
    font-size: 1.5rem;
    font-style: oblique;
    text-decoration: underline;
}

.elemento_diccionario{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.elemento_diccionario li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-secundario);
    padding: 0.5rem;
    transition: transform 0.3s ease, background 0.3s ease;
}

.elemento_diccionario li a:hover{
    transform: scale(1.5);
    background-color: var(--color-terciario);
}

.elemento_diccionario img{
    max-width: 160px;
    max-height: 160px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    padding: 0.2rem;
}

.elemento_diccionario span{
    color: var(--color-quinto);
    font-weight: bold;
}

/*Página formularios*/
.conjunto_formularios{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario{
    width: 250px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--color-terciario);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.formulario__texto{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formulario__boton{
    display: flex;
    padding: 0.5rem 1rem;

    justify-content: center;
    border: solid;
    border-radius: 1rem;
    background-color: var(--color-terciario);

    color: black;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.formulario__boton:hover{
    transform: scale(1.1);
    background-color: var(--color-primario);
}

/*Página de cada servidor*/
.servidores img{
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin: auto;
}

.articulo_servidor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
}

.articulo_servidor ul{
    list-style: none;
    color: white;
}

.articulo_servidor h3{
    color: var(--color-terciario);
}

.articulo_servidor ul li a{
    color: var(--color-primario);
}
.articulo_servidor a{
    color: var(--color-primario);
}

.articulo_servidor p{
    text-align: justify;
}

/* Páginas de personajes*/

.personaje{
    padding: 0.5;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.personaje_contenido{
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personaje_contenido h3{
    color: var(--color-primario);
}

.enlaces_personaje ul{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.enlaces_personaje ul a{
    color: var(--color-terciario);
}

.personaje_tabla{
    width: 300px;
    flex-shrink: 0;
}

.personaje_tabla table th,
.personaje_tabla table td {
    border: 1px solid var(--color-terciario);
    padding: 0.8rem;
    text-align: left;
    color: var(--color-quinto);
}
.personaje_tabla table th {
    background-color: var(--color-terciario);
    color: black;
    text-align: center;
}
.personaje_tabla table img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.personaje_tabla a{
    color: var(--color-quinto);
}

.personaje__texto{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
}

.personaje__texto a{
    color: var(--color-primario);
}

.datos_personales{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.datos_personales ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.historia{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.historia h4{
    color: var(--color-terciario);
}

.historia ul{
    padding-left: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descripcion_fisica{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.descripcion_fisica ul{
    padding-left: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personalidad{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.curiosidades{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.curiosidades ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.relaciones{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.relaciones ul{
    padding-left: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Páginas de grupos*/
.grupos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo_grupo{
    display: block;
    margin: auto;
    max-width: 400px;
}

.informacion_grupo{
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.informacion_grupo ul{
    padding-left: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Páginas de facciones*/
